@charset "UTF-8";

body {
  padding-top: 20px;
}

.vertical-space {
  margin-top: 24px;
  margin-bottom: 24px;
}

ul#rule-list > li {
  padding-left: 42px;
}

ul#rule-list > li .handle {
  background: ghostwhite;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 14px 8px;
}

ul#rule-list > li:first-of-type .handle {
  border-top-left-radius: 3px;
}

ul#rule-list > li:last-of-type .handle {
  border-bottom-left-radius: 3px;
}

ul#rule-list > li .remove-button {
  float:right;
}
/*li .rename-button {*/
/*background: #6fa5d2;*/
/*position: absolute;*/
/*right: 35px;*/
/*top: 0;*/
/*bottom: 0;*/
/*padding: 8px;*/
/*}*/

/*ul#rule-list > li .remove-button {*/
/*/!*background: lightcoral;*!/*/
/*position: absolute;*/
/*float:right;*/
/*right: 0;*/
/*top: 0;*/
/*bottom: 0;*/
/*padding: 8px;*/
/*}*/

/*ul#rule-list > li:first-of-type .remove-button {*/
/*border-radius: 0 3px 0 0;*/
/*}*/

/*ul#rule-list > li:last-of-type .remove-button {*/
/*border-radius: 0 0 3px 0;*/
/*}*/

/*ul#rule-list > li:not(:first-of-type) .remove-button,*/
/*ul#rule-list > li:not(:last-of-type) .remove-button {*/
/*border-radius: 0 3px 0 0;*/
/*}*/

ul#rule-list .ui-selecting { background: #eee; }
ul#rule-list .ui-selecting .handle { background: #ddd; }
ul#rule-list .ui-selected { background: #def; }
ul#rule-list .ui-selected .handle { background: #cde; }